$icon-font-path: "../fonts/bootstrap/";




@import "theme";



* {
  font-family: $font-family-base;
}

html, body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}




.app {
  &__container {
    height: 100%;
    padding: 30px;
  }
}



.brand {
  width : 100%;
  text-align: center;
  height: 211px;
  background: url(/images/logo_invert.png) no-repeat;
  background-size: contain;
  background-position: center;
  text-indent: -9999px;
  &--big {

  }
}

.search {
  display: table;
  width: 100%;
  height: 100%;

  &__brand {
    position: absolute;
    top: 50%;
    left: 0px;
    margin: 0px;
    margin-top: -255px;
  }

  &__form {
    vertical-align: middle;
    display: table-cell;
  }

  &__text {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
  }
}

#mc-embedded-subscribe-form {
  .btn {
    margin-top: 10px;
  }
}









html {
  height: 100%;
}
body {
  background: #E2E4E7;
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.main section.page1 .page_container {
  position: relative;
  top: 31%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main section.page2 .page_container {
  position: relative;
  top: 18%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
  overflow: hidden;
}
.main section.page2 {
  background: #2695CF !important;
}
.main section {
  overflow: hidden;
}
.main section {
  background: #0c2e40;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #FFBF00;
}
h1 {
  margin-top: 0em;
  margin-bottom: .5em;
  font-size: 3em;
  letter-spacing: -2px;
  font-weight: 400;
  text-align: center;
  color: white;
}
h2 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  line-height: 160%;
  font-weight: 100;
  padding-left: 40px;
  padding-right: 40px;
}
p {
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}
.btn {
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: inline-block;
  line-height: 100%;
  padding: 0.7em;
  text-decoration: none;
  color: #fff;
  line-height: 140%;
  font-size: 17px;
  font-family: open sans;
  font-weight: bold;
  width: 200px;
  color: #0c2e40;
  border: 2px solid #999;
  background: #fff;
}
.btn:hover, .btn:hover {
  background: #F7f7f7;
}
.clear {
  width: auto;
}
.btns {
  margin: 50px auto;
  clear: both !important;
}
.logo {
  text-align: center;
  display: block;
  margin-bottom: -20px;
  margin-top: -50px;
}
.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: -40px;
}
.footer2 {
  display: none;
}
.footer2 {
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: -60px;
}
.footer p {
  margin: 0px;
  padding: 0px;
  line-height: 40px;
  color: #fff;
  font-size: .8em;
  text-align: center;
  font-weight: 400;
}
.footer2 p {
  margin: 0px;
  padding: 0px;
  line-height: 40px;
  color: #fff;
  font-size: .7em;
  text-align: center;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.footer a:link, .footer a:visited {
  color: #fff;
  text-decoration: none;
}
.footer a:hover, .footer a:active {
  color: #FFBF00;
}
.logo img {
  width: 300px;
  height: 300px;
}
.downarrow img {
  width: 100px;
  height: 50px;
}

/* iPhone */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 736px) {
.logo img {
  width: 150px;
  height: 150px;
}
.downarrow img {
  width: 50px;
  height: 25px;
}
h1 {
  font-size: 1.8em;
  letter-spacing: 0px;
}
h2 {
  font-size: 1em;
}
.footer {
  display: none;
}
.footer2 {
  display: block;
}
.btns {
  padding-top: 0px;
  margin-top: 10px;
}
.main section.page2 .page_container {
  top: 5%;
}
.main section.page1 .page_container {
  top: 30%;
}
}













/* Mailchimp */
#mc_embed_signup div.mce_inline_error {
  margin: 0px 0px 1em;
  padding: 5px 10px;
  background-color: transparent;
  font-weight: bold;
  z-index: 1;
  color: #FFF;
  text-align: center;
}
#mc_embed_signup #mce-success-response {
  color: #fff;
  font-sixe: 0.8em;
}
#mc_embed_signup div.response {
  margin: .5em 0px;
  padding: 0px;
  padding-bottom: 15px;
  font-weight: 200;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 90%;
  color: #fff;
}
#mc_embed_signup {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#mc_embed_signup input {
  border-radius: 4px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  font-size: 1em;
}
#mc-embedded-subscribe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 375px !important;
  height: 55px !important;
  line-height: 55px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #fff;
}
#mc_embed_signup div.mce_inline_error {
  margin: 0px 0px .5em;
  padding: 5px 10px;
  background-color: transparent !important;
  font-weight: 400;
  z-index: 1;
  color: #FFF;
  font-size: 0.8em !important;
  text-align: center !important;
}
#mc_embed_signup div.response {
  text-align: center !important;
}

@media only screen  and (min-device-width: 320px)  and (max-device-width: 736px) {
#mc_embed_signup {
  width: 320px;
}
#mc-embedded-subscribe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 295px !important;
  height: 45px !important;
  line-height: 45px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #fff;
}
#mc_embed_signup input {
  height: 30px;
  border-radius: 4px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  font-size: 1em;
}
#mc_embed_signup div.response {
  margin: .0px;
  padding: 0px;
  padding-bottom: 5px;
  font-weight: 200;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 95%;
  font-size: 0.9em;
  line-height: 1;
}
}
