$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "bootstrap";
@import "theme";

// bootstrap angular ui must have
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

html, body {
  height: 100%;
}

body {
  background: $darker;
}


.app {
  &__container {
    height: 100%;
    padding: 30px;
  }
}



.brand {
  width : 100%;
  text-align: center;
  color: $text-light;
  height: 211px;
  background: url(/images/logo.png) no-repeat;
  background-size: contain;
  background-position: center;
  text-indent: -9999px;
  &--big {

  }
}

.search {
  display: table;
  width: 100%;
  height: 100%;

  &__brand {
    position: absolute;
    top: 50%;
    left: 0px;
    margin: 0px;
    margin-top: -230px;
  }

  &__form {
    vertical-align: middle;
    display: table-cell;
  }

  &__text {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
  }
}
