<div class="search">
  <h1 class="search__brand brand brand--big">Ocean8</h1>
  <form o-search class="search__form" role="form" name="search" ng-submit="submit(searchText)">
    <div class="search__text input-group">
      <input type="text" class="form-control input-lg" placeholder="Ask something..." ng-model="searchText">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-success glyphicon glyphicon-search" type="submit"></button>
      </span>
    </div>
  </form>
</div>
